# Vitamix Forecasting Models

# Global
    * Data Load and Preparation

In [1]:
# Packages
import snowflake.connector
import pandas as pd
import os
import numpy as np

from datetime import datetime, timedelta

# copy and paste in to a new chunk, enter credentials and run to save in environment. Then delete chunk
%env snowflakeuser=<your_snowflake_username>
%env snowflakepass=<your_snowflake_password>

In [3]:
# Query Snowflake

def snowflake_to_pandas(connection_params, query):
    try:
        # Establish a connection to Snowflake
        conn = snowflake.connector.connect(**connection_params)

        # Execute the SQL query and fetch the results into a DataFrame
        df = pd.read_sql_query(query, conn)

        # Close the connection
        conn.close()

        return df
    except Exception as e:
        print(f"Error: {e}")
        return None

# Snowflake connection parameters
connection_params = {
    "user": os.environ['snowflakeuser'],
    "password": os.environ['snowflakepass'],
    "account": "zib52348.us-east-1",
    "role": "ACCOUNTADMIN",
    "warehouse": "REPORTING",
    "database": "ANALYTICS",
    "schema": "FORECASTING",
}

# SQL command 
query = 'SELECT * FROM "ANALYTICS"."FORECASTING"."sales_fcast_combined_v"'

# Call the function to retrieve the data into a Pandas DataFrame
result_df = snowflake_to_pandas(connection_params, query)

if result_df is not None:
    print(result_df.head())  # Display the first few rows of the DataFrame
else:
    print("Failed to retrieve data from Snowflake.")

C:\Users\crudek\AppData\Local\Temp\ipykernel_18760\2851543061.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

   DEP_ENT       MONTH   NET_SALES  BUDGET_AMOUNT      FORECAST
0  210_155  2023-07-01  2817972.34      5004554.0  3.885478e+06
1  210_155  2023-08-01         NaN      5812184.0  3.431112e+06
2  210_155  2023-09-01         NaN      5786571.0  4.134850e+06
3  210_155  2023-10-01         NaN      5239358.0  3.793092e+06
4  210_155  2023-11-01         NaN      7036356.0  5.865456e+06

In [30]:
### Data prep ###

result_df["MONTH"] = pd.to_datetime(result_df["MONTH"]) # convert month field to date
df_all = result_df[result_df['MONTH'] <= pd.Timestamp(2023,6,1)] # we have data through July '23 when we are training these models. 
#Some random months will have data that we want to remove (* Want to test without July though)
df_all = df_all[["DEP_ENT", "MONTH", "NET_SALES"]] # select fields of interest
df_all = df_all.sort_values(['DEP_ENT', 'MONTH']) # reorder dataframe

In [31]:
### Spot checks ###

# check the unique time_series. 14 different department-entity combinations
print(df_all['DEP_ENT'].nunique())
print("-----")

# check how many months for each dep-ent. 3 dep-ent do not have a full 91 months of data
print(df_all.groupby(['DEP_ENT']).size())
print("-----")

# check for nulls. No nulls
print(df_all.isnull().sum())

14
-----
DEP_ENT
160_155    90
170_155    90
200_155    90
200_310    90
210_155    90
210_165    90
210_310    90
220_155    90
220_310    84
240_155    90
250_155    90
250_165    56
250_310    90
260_155    53
dtype: int64
-----
DEP_ENT      0
MONTH        0
NET_SALES    0
dtype: int64

In [111]:
# create dataset to test for one department
df_200_155 = df_all[(df_all.DEP_ENT == "200_155")]

### 1
# Time Series Forecasting with PyCaret Regression

Pycaret 3.04 regression documentation: https://pycaret.readthedocs.io/en/stable/api/regression.html

In [112]:
### Regression data preparation ###

# extract month and year from dates
df_200_155['Month'] = [i.month for i in df_200_155['MONTH']]
df_200_155['Year'] = [i.year for i in df_200_155['MONTH']]

# create a sequence of numbers
df_200_155['Series'] = np.arange(1,len(df_200_155)+1)

# trim
df_200_155_trim = df_200_155[['Series', 'Year', 'Month', 'NET_SALES']] 

# ## Testing and Training datsets. This is need to determine best model. We can't include the whole dataset or we will overfit
# train_200_155 = df_200_155[(df_200_155.Series <= round(len(df_200_155.index) * .8))] # ~80% for training
# test_200_155 = df_200_155[(df_200_155.Series > round(len(df_200_155.index) * .8))] # ~20% for testing

# # drop unnecessary columns and re-arrange
# train_200_155 = train_200_155[['Series', 'Year', 'Month', 'NET_SALES']] 
# test_200_155 = test_200_155[['Series', 'Year', 'Month', 'NET_SALES']] 

# # review
# print(test_200_155.head())
# print("-----")
# # check shape
# print(train_200_155.shape, test_200_155.shape)

In [113]:
### Regression Functional API

# import the regression module from pycaret   
#from pycaret.regression import *

import pycaret.regression as pycr

# initialize setup
s = pycr.setup(data = df_200_155_trim, target = 'NET_SALES', session_id = 123)


### Modeling steps ###

# model training and selection
regress_best = pycr.compare_models(sort = 'MAPE')

# evaluate trained model
pycr.evaluate_model(regress_best)

# predict on hold-out/test set
regress_pred_holdout = pycr.predict_model(regress_best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

In [114]:
### New data to predict ###

# max date from original dataset
max_timestamp = df_200_155['MONTH'].max()

# create dataframe for future dates, in this case the rest of 2023
next_dates = [max_timestamp.replace(day=1) + pd.DateOffset(months=i) for i in range(1, 7)] # Need to change range based on how many periods ahead you want to predict
new_dates_df = pd.DataFrame({'MONTH': next_dates})
new_dates_df["MONTH"] = pd.to_datetime(new_dates_df["MONTH"]) 

# extract month and year from dates
new_dates_df['Month'] = [i.month for i in new_dates_df['MONTH']]
new_dates_df['Year'] = [i.year for i in new_dates_df['MONTH']]

# create a sequence of numbers
new_dates_df['Series'] = np.arange(1,len(new_dates_df)+1)

# select cols
new_dates_df = new_dates_df[['Series', 'Year', 'Month']]

In [115]:
# predict on new data
regress_predictions = pycr.predict_model(regress_best, data = new_dates_df)

### 2
# Time Series Forecasting with PyCaret Time Series

Pycaret 3.04 regression documentation: https://pycaret.readthedocs.io/en/stable/api/time_series.html

In [103]:
### Time Series Forecasting Functional API

# import the time seris module from pycaret
#from pycaret.time_series import *

import pycaret.time_series as pycts

In [116]:
# create time series dataset
df_200_155_trim2 = df_200_155[["MONTH", "NET_SALES"]]
    
# create series
df_200_155_series = df_200_155_trim2.set_index('MONTH')['NET_SALES']

ts_train = round(len(df_200_155_trim2.index) * .8) # 80% train
ts_test = len(df_200_155_trim2.index) - round(len(df_200_155_trim2.index) * .8) # 20% test

In [117]:
# init setup on exp
s = pycts.setup(df_200_155_series, fh = ts_test, session_id = 123)

In [119]:
best = pycts.compare_models(exclude = ["naive", "grand_means"])

In [65]:
df_200_155_trim2 = df_200_155_trim2.sort_values(['MONTH']) # reorder
    
#df_200_155_trim2.set_index('MONTH') # create index

pycaret.time_series.forecasting.oop.TSForecastingExperiment

In [ ]:


### TS prep

# df_200_155_trim2 = df_200_155_trim2.sort_values(['MONTH']) # reorder
    
# df_200_155_trim2.set_index('MONTH', drop = True, inplace=True) # create index
    
# df_200_155_trim2 = df_200_155_trim2.asfreq('MS')
    
# ts_train = round(len(df_200_155_trim2.index) * .8) # 80% train
# ts_test = len(df_200_155_trim2.index) - round(len(df_200_155_trim2.index) * .8) # 20% test


# init setup
s = setup(df_200_155_trim2, target = 'NET_SALES', fh = ts_test, session_id = 123)

# model training and selection
ts_best = compare_models(sort = 'MAPE', exclude = ["naive"])

# plot trained model
#plt.plot(ts_best)

#ts_pred_holdout = predict_model(ts_best)

# predict in unseen future
#ts_predictions = predict_model(ts_best, fh=6)

In [75]:
check_stats()

,Test,Test Name,Data,Property,Setting,Value
0,Summary,Statistics,Transformed,Length,,90.0
1,Summary,Statistics,Transformed,# Missing Values,,0.0
2,Summary,Statistics,Transformed,Mean,,2580538.262138
3,Summary,Statistics,Transformed,Median,,2224486.9
4,Summary,Statistics,Transformed,Standard Deviation,,1073172.834318
5,Summary,Statistics,Transformed,Variance,,1151699932317.54834
6,Summary,Statistics,Transformed,Kurtosis,,1.529008
7,Summary,Statistics,Transformed,Skewness,,1.406315
8,Summary,Statistics,Transformed,# Distinct Values,,90.0
9,White Noise,Ljung-Box,Transformed,Test Statictic,"{'alpha': 0.05, 'K': 24}",75.73407
10,White Noise,Ljung-Box,Transformed,Test Statictic,"{'alpha': 0.05, 'K': 48}",143.9815
11,White Noise,Ljung-Box,Transformed,p-value,"{'alpha': 0.05, 'K': 24}",0.0
12,White Noise,Ljung-Box,Transformed,p-value,"{'alpha': 0.05, 'K': 48}",0.0
13,White Noise,Ljung-Box,Transformed,White Noise,"{'alpha': 0.05, 'K': 24}",False
14,White Noise,Ljung-Box,Transformed,White Noise,"{'alpha': 0.05, 'K': 48}",False
15,Stationarity,ADF,Transformed,Stationarity,{'alpha': 0.05},False
16,Stationarity,ADF,Transformed,p-value,{'alpha': 0.05},0.325743
17,Stationarity,ADF,Transformed,Test Statistic,{'alpha': 0.05},-1.913488
18,Stationarity,ADF,Transformed,Critical Value 1%,{'alpha': 0.05},-3.518281
19,Stationarity,ADF,Transformed,Critical Value 5%,{'alpha': 0.05},-2.899878
20,Stationarity,ADF,Transformed,Critical Value 10%,{'alpha': 0.05},-2.587223
21,Stationarity,KPSS,Transformed,Trend Stationarity,{'alpha': 0.05},False
22,Stationarity,KPSS,Transformed,p-value,{'alpha': 0.05},0.016829
23,Stationarity,KPSS,Transformed,Test Statistic,{'alpha': 0.05},0.197789
24,Stationarity,KPSS,Transformed,Critical Value 10%,{'alpha': 0.05},0.119
25,Stationarity,KPSS,Transformed,Critical Value 5%,{'alpha': 0.05},0.146
26,Stationarity,KPSS,Transformed,Critical Value 2.5%,{'alpha': 0.05},0.176
27,Stationarity,KPSS,Transformed,Critical Value 1%,{'alpha': 0.05},0.216
28,Normality,Shapiro,Transformed,Normality,{'alpha': 0.05},False
29,Normality,Shapiro,Transformed,p-value,{'alpha': 0.05},0.0